In [1]:
# Import the dependencies
import pandas as pd
import numpy as np
import datetime

# ORM Stuff
from sqlalchemy import create_engine, inspect, text

In [2]:
df = pd.read_csv("detailed_ev_charging_stations.csv")
df.head()

,Station ID,Latitude,Longitude,Address,Charger Type,Cost (USD/kWh),Availability,Distance to City (km),Usage Stats (avg users/day),Station Operator,Charging Capacity (kW),Connector Types,Installation Year,Renewable Energy Source,Reviews (Rating),Parking Spots,Maintenance Frequency
0,EVS00001,-33.400998,77.974972,"4826 Random Rd, City 98, Country",AC Level 2,0.27,9:00-18:00,4.95,35,EVgo,350,"CCS, CHAdeMO",2013,Yes,4.0,7,Annually
1,EVS00002,37.861857,-122.490299,"8970 San Francisco Ave, San Francisco",DC Fast Charger,0.19,24/7,4.96,83,EVgo,350,"Tesla, Type 2",2010,Yes,3.9,2,Monthly
2,EVS00003,13.776092,100.412776,"5974 Bangkok Ave, Bangkok",AC Level 2,0.48,6:00-22:00,8.54,24,ChargePoint,50,"Type 2, CCS",2019,No,3.6,9,Annually
3,EVS00004,43.628250,-79.468935,"6995 Toronto Ave, Toronto",AC Level 1,0.41,9:00-18:00,13.28,70,Greenlots,350,Type 2,2010,Yes,4.2,7,Monthly
4,EVS00005,19.119865,72.913368,"5704 Mumbai Ave, Mumbai",AC Level 2,0.11,9:00-18:00,9.76,19,EVgo,350,CCS,2015,Yes,3.7,6,Annually

In [3]:
# Load your dataset (assuming it's a CSV file)
df = pd.read_csv("detailed_ev_charging_stations.csv")

# Drop the 'Availability' column
df.drop(columns=['Availability'], inplace=True)

# Save the cleaned dataset
df.to_csv("cleaned_data.csv", index=False)

In [4]:
print(df.head())  
print(df.columns)  # Confirm 'Availability' is gone

  Station ID   Latitude   Longitude                                Address  \
0   EVS00001 -33.400998   77.974972       4826 Random Rd, City 98, Country
1   EVS00002  37.861857 -122.490299  8970 San Francisco Ave, San Francisco
2   EVS00003  13.776092  100.412776              5974 Bangkok Ave, Bangkok
3   EVS00004  43.628250  -79.468935              6995 Toronto Ave, Toronto
4   EVS00005  19.119865   72.913368                5704 Mumbai Ave, Mumbai

      Charger Type  Cost (USD/kWh)  Distance to City (km)  \
0       AC Level 2            0.27                   4.95
1  DC Fast Charger            0.19                   4.96
2       AC Level 2            0.48                   8.54
3       AC Level 1            0.41                  13.28
4       AC Level 2            0.11                   9.76

   Usage Stats (avg users/day) Station Operator  Charging Capacity (kW)  \
0                           35             EVgo                     350
1                           83             EVgo                     350
2                           24      ChargePoint                      50
3                           70        Greenlots                     350
4                           19             EVgo                     350

  Connector Types  Installation Year Renewable Energy Source  \
0    CCS, CHAdeMO               2013                     Yes
1   Tesla, Type 2               2010                     Yes
2     Type 2, CCS               2019                      No
3          Type 2               2010                     Yes
4             CCS               2015                     Yes

   Reviews (Rating)  Parking Spots Maintenance Frequency
0               4.0              7              Annually
1               3.9              2               Monthly
2               3.6              9              Annually
3               4.2              7               Monthly
4               3.7              6              Annually
Index(['Station ID', 'Latitude', 'Longitude', 'Address', 'Charger Type',
       'Cost (USD/kWh)', 'Distance to City (km)',
       'Usage Stats (avg users/day)', 'Station Operator',
       'Charging Capacity (kW)', 'Connector Types', 'Installation Year',
       'Renewable Energy Source', 'Reviews (Rating)', 'Parking Spots',
       'Maintenance Frequency'],
      dtype='object')

In [5]:
df = pd.read_csv("cleaned_data.csv")
df.head()

,Station ID,Latitude,Longitude,Address,Charger Type,Cost (USD/kWh),Distance to City (km),Usage Stats (avg users/day),Station Operator,Charging Capacity (kW),Connector Types,Installation Year,Renewable Energy Source,Reviews (Rating),Parking Spots,Maintenance Frequency
0,EVS00001,-33.400998,77.974972,"4826 Random Rd, City 98, Country",AC Level 2,0.27,4.95,35,EVgo,350,"CCS, CHAdeMO",2013,Yes,4.0,7,Annually
1,EVS00002,37.861857,-122.490299,"8970 San Francisco Ave, San Francisco",DC Fast Charger,0.19,4.96,83,EVgo,350,"Tesla, Type 2",2010,Yes,3.9,2,Monthly
2,EVS00003,13.776092,100.412776,"5974 Bangkok Ave, Bangkok",AC Level 2,0.48,8.54,24,ChargePoint,50,"Type 2, CCS",2019,No,3.6,9,Annually
3,EVS00004,43.628250,-79.468935,"6995 Toronto Ave, Toronto",AC Level 1,0.41,13.28,70,Greenlots,350,Type 2,2010,Yes,4.2,7,Monthly
4,EVS00005,19.119865,72.913368,"5704 Mumbai Ave, Mumbai",AC Level 2,0.11,9.76,19,EVgo,350,CCS,2015,Yes,3.7,6,Annually

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Station ID                   5000 non-null   object
 1   Latitude                     5000 non-null   float64
 2   Longitude                    5000 non-null   float64
 3   Address                      5000 non-null   object
 4   Charger Type                 5000 non-null   object
 5   Cost (USD/kWh)               5000 non-null   float64
 6   Distance to City (km)        5000 non-null   float64
 7   Usage Stats (avg users/day)  5000 non-null   int64
 8   Station Operator             5000 non-null   object
 9   Charging Capacity (kW)       5000 non-null   int64
 10  Connector Types              5000 non-null   object
 11  Installation Year            5000 non-null   int64
 12  Renewable Energy Source      5000 non-null   object
 13  Reviews (Rating)             5000 non-null   float64
 14  Parking Spots                5000 non-null   int64
 15  Maintenance Frequency        5000 non-null   object
dtypes: float64(5), int64(4), object(7)
memory usage: 625.1+ KB

In [7]:
df.describe()

,Latitude,Longitude,Cost (USD/kWh),Distance to City (km),Usage Stats (avg users/day),Charging Capacity (kW),Installation Year,Reviews (Rating),Parking Spots
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,19.942607,8.833487,0.300196,10.201810,55.453800,144.272000,2016.569400,3.994800,5.519600
std,32.315818,93.724046,0.115733,5.608316,26.494986,128.370674,4.004746,0.582667,2.874103
min,-89.680850,-178.870028,0.100000,0.500000,10.000000,22.000000,2010.000000,3.000000,1.000000
25%,13.758953,-87.680319,0.200000,5.430000,32.000000,50.000000,2013.000000,3.500000,3.000000
50%,34.029053,18.495233,0.300000,10.190000,56.000000,150.000000,2017.000000,4.000000,5.000000
75%,41.840249,100.454629,0.400000,14.902500,79.000000,350.000000,2020.000000,4.500000,8.000000
max,89.464534,179.664661,0.500000,20.000000,100.000000,350.000000,2023.000000,5.000000,10.000000

In [8]:
# Write to database

In [9]:
engine = create_engine("sqlite:///ev_charging_stations.sqlite")

In [ ]:
# Write to SQL (NOTE I AM USING con=engine) THIS IS WHAT WORKS APPARENTLY WHEN WRITING OUT DATA
df.to_sql(name="ev_charging_stations", con=engine, index=False, if_exists="append", method="multi")

In [ ]:
engine.dispose()